.hero-image {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://i.pinimg.com/564x/a8/c5/a1/a8c5a13182d231a84c7e0a4fdc57a739.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size:cover;
  /*image is fixed in background all other elements are scrolling*/  
  /*background attachement makes image fixed*/
    background-attachment: fixed;
    position: relative;
    background-position: center;
}

body {     
    background-color: #f3c26d;

}
.offcanvas {
    background-color: #9098a0;
}

h1 {
    font-family:'oswald'

}
h2, h3, h4, h5 {
    font-family: yanone;
}
p {
    font-family: oswald;
}